/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */


@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./common.css";

:root{
    --red: #dc3545;
    --lightgreen: #17a2b8;
    --white:#FFF;
    --font-size-12: .75rem;
    --font-size-14: .875rem;
    --font-weight-bold: bold;
    --border-color-000-32: rgba(0,0,0, 0.32);
}


*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: roboto;
}






